body {
  font-family: "Times New Roman", Times, serif;
  font-size: 10pt;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.6;
}

h1, h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #8f8f8f;
}

ul {
  padding-left: 1.2em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

header>div {
  text-align: left;
}

img {
  border-radius: 50%;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

article > h3 {
  margin: 0;
  flex-grow: 1;
}

article > p {
  margin: 0;
  flex-shrink: 0;
  font-weight: normal;
  color: #555;
  white-space: nowrap;
}

article > ul {
  flex-basis: 100%;
  margin-top: 0.5em;
}
